.box{
//overflow: hidden;
//float:top;
text-shadow:none;
position:relative;
margin-left:auto;
margin-right:auto;
border-radius: 1px;
//display:block;
border: 1px solid #E6E6E6;
background-color: #FCFCFC;
width: 90vw;
height: 90vw;
margin-bottom: 10px; 
}

.sticker{
position:absolute;
background-color: red;
left:0px;
top:15px;
padding:2px;
height:auto;
width: auto;
z-index: 2;
color:white;
font-size: 110%;
padding-left: 10px;
padding-right: 10px;
}

.subcats{
position:absolute;
left:0px;
top:40px;
height:30px;
width:75%;
font-size: 100%;
color:grey;
//padding-left: 10px;
border: 1px dashed white;
z-index:2;
}
.profile-picture{
position:absolute;
background-color: white;
top:0px;
width: 100%;
z-index:1;
height: 23%;
}
.title{
font-weight: bold;
font-size:100%;
overflow:scroll;
position: absolute;
padding-left:10px;
left:5px;
right:10px;
width:480px;
height:30px;
top:102px;
border: 0px dashed grey;
color:black;
}
.description{
font-size:100%;
font-weight: 200;
overflow: scroll;
position: absolute;
background-color:#FCFCFC;
margin-bottom:20px;
padding-left:10px;padding-right:10px;
left:5px;
right: 5px;
top: 30%;
width:86vw;
height: 40%;
color:black;
//border:1px solid black;
}
.box-stats{
position: absolute;
right:0px;
bottom: 17%;
height:6%;
width: 100%;
background-color: #33CC33;
}

.score{
position: absolute;
//border:4px dashed grey;
left:10px;
right:10px;
bottom: 5%;
width:90vm;
height:50px;
//border:1px dashed black;
}

.facebook-icon{
float:right;
margin-right:30px;
margin-top:15px
}
.linkedin-icon{
float:right;
margin-right:30px;
margin-top:15px
}
.facebook-score{
position:absolute;
left:205px;
width:60px;
text-align:center;
border:0px dashed red;
font-size:110%;
}
.linkedin-score{
position:absolute;
left:145px;
width:60px;
text-align:center;
border:0px dashed red;
font-size:110%;
}
.numbers{
position: absolute;
//border: 1px dashed grey;
//left:10px;
right:10px;
bottom:0px;
width:280px;
height:30px;
}