.box{
//overflow: hidden;
//float:top;
text-shadow:none;
position:relative;
margin-left:auto;
margin-right:auto;
border-radius: 1px;
//display:block;
border: 1px solid #E6E6E6;
background-color: #FCFCFC;
width: 90vw;
height: 90vw;
margin-bottom: 10px; 
}

.sticker{
position:absolute;
background-color: red;
left:0px;
top:1%;
height:18px;
width: auto;
z-index: 2;
color:white;
font-size: auto;
padding-left: 10px;
padding-right: 10px;
}

.subcats{
position:absolute;
left:0px;
top:6%;
height:16%;
width:75%;
font-size: 90%;
font-weight:200;
color:grey;
//padding-left: 10px;
border: 1px dashed grey;
z-index:2;
}
.profile-picture{
position:absolute;
background-color: white;
top:0px;
width: 100%;
z-index:1;
height: 22%;
}
.title{
//font-weight: bold;
font-size:auto;
overflow:visible;
position: absolute;
padding:1px;
padding-left:10px;
left:5px;
width:auto;
height:7%;
top:22%;
border: 1px dashed grey;
color:black;
}
.description{
font-size:100%;
font-weight: 200;
overflow: scroll;
position: absolute;
background-color:#FCFCFC;
margin-bottom:20px;
padding-left:10px;padding-right:10px;
left:5px;
right: 5px;
top: 30%;
width:86vw;
height: 45%;
color:black;
border:1px solid black;
}
.box-stats{
padding-left:10px;
font-size:auto;
padding-top:1px;
color:white;
font-weight:200;
font-size:auto;
position: absolute;
left:0px;
top: 77%;
height:6%;
width:100%;
background-color: #33CC33;
}

.score{
position: absolute;
border:1px dashed grey;
left:10px;
right:10px;
bottom: 5%;
width:90vm;
height:12%;
//border:1px dashed black;
}

.facebook-icon{
float:right;
margin-right:8%;
//margin-top:5px
}
.linkedin-icon{
float:right;
margin-right:8%;
//margin-top:5px
}
.facebook-score{
margin-top:-3px;
position:absolute;
right:23%;
width:auto;
text-align:center;

border:1px dashed red;
}
.linkedin-score{
margin-top:-3px;
position:absolute;
right:70%;
width:auto;
text-align:center;
border:1px dashed red;

}
.numbers{
position: absolute;
border: 1px dashed grey;
//left:10px;
right:10px;
bottom:0px;
width:40%;
height:5%;
}