.box{
//overflow: hidden;
//float:top;
text-shadow:none;
position:relative;
margin-left:auto;
margin-right:auto;
border-radius: 1px;
//display:block;
border: 1px solid #E6E6E6;
background-color: #FCFCFC;
width: 90vw;
height: 90vw;
margin-bottom: 7vh; 
}

.sticker{
position:absolute;
background-color: red;
left:0px;
top:1%;
height:auto;
width: auto;
z-index: 2;
color:white;
font-size: 3vw;
padding-left: 10px;
padding-right: 10px;
}

.subcats{
position:absolute;
left:0px;
top:7%;
height:16%;
width:75%;
font-size: 3vw;
font-weight:200;
color:grey;
//padding-left: 10px;
//border: 1px dashed grey;
z-index:2;
}
.profile-picture{
position:absolute;
background-color: white;
top:0px;
width: 100%;
z-index:1;
height: 22%;
}
.title{
//font-weight: bold;
font-size:4vw;
overflow:visible;
position: absolute;
padding:1px;
padding-left:10px;
left:5px;
width:auto;
height:7%;
top:22%;
//border: 1px dashed grey;
color:black;
}
.description{
font-size:2vw;
font-weight: 200;
overflow: scroll;
position: absolute;
background-color:#FCFCFC;
margin-bottom:20px;
padding-left:10px;padding-right:10px;
left:5px;
right: 5px;
top: 30%;
width:86vw;
height: 45%;
color:black;
//border:1px solid black;
}
.box-stats{
padding-left:10px;
font-size:auto;
padding-top:1px;
color:white;
font-weight:200;
font-size:auto;
position: absolute;
left:0px;
top: 77%;
height:6%;
width:100%;
background-color: #33CC33;
}

.score-all{
position: absolute;
text-align:center;
font-size:4vw;
bottom: 0;
width:100%;
color:black;

}

.facebook-icon{
position:absolute;
height:14vw;
width:9vw;
bottom:0vw;
right:2vw;
//margin-top:5px
}
.linkedin-icon{
position:absolute;
height:14vw;
width:9vw;
bottom:0vw;
right:12vw;
//margin-top:5px
}
.facebook-score{
margin-top:-3px;
position:absolute;
right:23%;
width:auto;
text-align:center;
top:2px;
//border:1px dashed red;
}
.linkedin-score{
margin-top:-3px;
position:absolute;
right:72%;
width:auto;
text-align:center;
//border:1px dashed red;
top:2px;
}
.numbers{
position: absolute;
//border: 1px dashed grey;
//left:10px;
right:10px;
bottom:0px;
width:40%;
height:5%;
}
.saving-icon{
    position:absolute;
    height:10vw;
    width:10vw;
    bottom:2vw;
    left:2vw;
    //border: 1px dashed red;
}
.saving-icon-alt{
    position:absolute;
    height:10vw;
    width:10vw;
    bottom:2vw;
    right:2vw;
    //border: 1px dashed red;
}

.facebook-icon-all{
position:absolute;
height:14vw;
width:9vw;
bottom:0vw;
left:2vw;
//margin-top:5px
}
.linkedin-icon-all{
position:absolute;
height:14vw;
width:9vw;
bottom:0vw;
left:12vw;
//margin-top:5px
}
.feed-column{
    width:auto;
    height:90%;
    overflow:scroll;
    border:1px dashed red;
    z-index:1;
}
.flat-panel{
    background-color:white;
    position:fixed;
    width:100%;
    height:40vh;
    //border:1px solid black;
    bottom:0vw;
    margin-bottom:-30vh;
    z-index:5;
}


.end-of-feed{
text-align:center;
padding:20px;
font-size: 300%;
position:relative;
margin-left:auto;
margin-right:auto;
border-radius: 7px;
border: 1px solid #E6E6E6;
color: white;
background-color: red;
height: auto;
width: 90vw;
margin-bottom:15vh; 
}

.broadcast-square-top{

background-color: white;
position: relative;
float:top;
width: 100%;
height: 102px;
//border: 1px solid grey;
}


.broadcast-square-bottom{
position: relative;
font-size:95%;
font-weight:200;
padding: 10px;
float:top;
width: 100%;
height: auto;
//border: 1px solid grey;
}

.broadcast-name{
font-weight: bold;
font-size:4vw;
padding-left: 10px;
padding-right: 5px;
position: absolute;
top:20px;
width: auto;
border: 1px solid whitesmoke;
}

.broadcast-thumbnail{
position: relative;
float: right;
right:0px;
width: auto;
height: 100px;
}

.broadcast-box a{
    color:black;
    text-decoration: none;
}
.broadcast-box a:hover{ 
    color: #000000;
    text-decoration: none;
    }

.broadcast-box{
font-size:3vw;
color:black;
position:relative;
margin-left:auto;
margin-right:auto;
border-radius: 1px;
border: 1px solid #E6E6E6;
background-color: #FCFCFC;
height: auto;
width: 90vw;
margin-bottom: 7vh; 
//border: 1px solid black;
}
.comments{
text-align:center;
cursor:pointer;
font-size:2.5vh;
//padding:5px;
position:absolute;
right:-1px;
bottom:-5vh;
width: 100%;
background-color:#FCFCFC;
border: 1px solid #E6E6E6;
margin-top: -30px;
height: 4vh;
}

.middle-logo{
top:0px;
position:absolute;
margin-left:-5vh;
left:50vw;
height:10vh;
width:10vh;
//border:1px solid red;
}

.panel-flip{
cursor: pointer;
top:0px;
position:absolute;
right:70vw;
height:10vh;
width:10vh;
//border:1px solid blue;
}

.panel-menu{
cursor: pointer;
font-size: 6vh;
padding-right:1vh;
padding-left:1vh;
top:0px;
position:absolute;
left:65vw;
height:10vh;
width:auto;
//border:1px solid orange;
}