/* 	This is the source file for all of the cascading styles that are used in the website,
 *  	These classes will be grouped by the pages they are used by. We wil also detect duplicate
 *  	styles (e.g styles of the submit and signup/login forms)and will put them under a designated page 
 *  	called SHARED STYLES.		REVIZE THE FORMAT OF CLASSES TO  BE ASSOCIATED WITH SPECIFIC HTML ELEMENTS
 */


/*
 * 		SHARED STYES classes
*/
.stick-to-top{
box-shadow: 0px 1px 8px grey;
height: 60px;
position: fixed;
top: 0px;
right: 0px;
left: 0px;
width: 100%;
z-index: 100;
background-color: #FEFEFE;
}
.top-left{
float: left;
position: absolute;
top:5px;
left:10px;
}
.top-right{
position: absolute;
top: 7px;
right : 40px;
}
.menu{
top: 2px;
float:left;
font-size: 100%;
font-family:"Arial";
color: #4D4D4D;
padding-left:2em;
}


.box{
//overflow: hidden;
border-radius: 1px;
display:inline-block;
position: relative;
border: .5px solid red;
background-color: #E8E8E8;
height: 300px;
width: 300px;
margin: 16px 16px 0px 16px; 
}
.box:hover, .box:focus, .box:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.sticker{
position:absolute;
background-color: red;
left:0px;
top:0px;
height: 30px;
width: 90px;
z-index: 2;
}
.profile-picture{
position:relative;
background-color: blue;
top:0px;
width: 100%;
z-index:1;
height: 100px;
}
.box-stats{
position: absolute;
bottom: 0px;
height:40px;
width: 100%;
background-color: red;
}
.description{
position: absolute;
background-color:white;
top:110px;
left:10px;
right: 10px;
bottom: 50px;
width:280px;
height: 140px;

}

label {
  
  width: 120px;
  float: left;
  text-align: left;
  display: block;
}
#submit_btn {
 margin-left:115px;
 height:10px;
 width: 150px;
 margin-top: 20px; 
}
#dropdown{
margin-left:35px;
}
/*
 *		HOME PAGE classes
 */
.slider{
position: relative;
display: block;
background-color: red;
height: 400px;
width: 1100px;
top: 50px;

margin-left: auto;
margin-right: auto;
//border-radius: 10px;
overflow:hidden
}
.top3{
font-family: "Arial";
text-align: center;
color: white;
position: relative;
display: block;
background-color: #0099FF;
top: 90px;
height: 20px;
width: 150px;
margin-left:auto;
margin-right:auto;


}
.middle-bottom-box{
position: relative;
background-color:white;
//border: 1px solid #CCCCE0;
height: 950px;
width: 1000px;
top:130px;
margin-left: auto;
margin-right: auto;
border-radius: 10px;
overflow: hidden;
}
.middle-box{
font-size: 80%;
font-family: "Arial";
position: relative;
background-color: white;
height: 450px;
width:1000px;
top:70px;
margin-left: auto;
margin-right: auto;
border-radius: 10px;
overflow: hidden;
z-index: 100;
}

.signin-box{
//background-color: #F5F5F5;
position: relative;
float: left;
left:20px;
top:20px;
width:40%;
//margin:0;
//padding: 0;
border-right: 2px solid grey;
height: 400px;
z-index: 80;
}

.signup-box{
background-color: white;
//background-color: #F5F5F5;
position: relative;
float: right;
right:20px;
top:10px;
width:50%;
height: 400px;
z-index: 80;
}
.form{
margin-top:15px;
}
/*
 *		FOOTER classes
 */
.footer-line{

background-color: #E8E8E8;
    position: relative;
    margin-left:0px;
top : 140px;
    height: 40px;
    width: 100%;
//
}
