/* 	This is the source file for all of the cascading styles that are used in the website,
 *  	These classes will be grouped by the pages they are used by. We wil also detect duplicate
 *  	styles (e.g styles of the submit and signup/login forms)and will put them under a designated page 
 *  	called SHARED STYLES.		REVIZE THE FORMAT OF CLASSES TO  BE ASSOCIATED WITH SPECIFIC HTML ELEMENTS
 */


/*
 * 		SHARED STYES classes
*/
@font-face {
font-family: Thin;
src: url(fonts/JosefinSansThin.ttf);
}

span {cursor: pointer}
a:active,.slider a:hover,a:visited,a:link{
text-decoration:none;
color:black;
}

.modal .modal-body {
    max-height: 500px;
    overflow-y: auto;
}

input[type=checkbox].css-checkbox {
	position:absolute;
	z-index:-1000;
	left:-1000px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height:1px;
	width:1px;
	margin:-1px;
	padding:0;
	border:0;
				}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:37px;
	height:32px; 
	display:inline-block;
	line-height:32px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:13px;
	vertical-align:middle;
	cursor:pointer;
						}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -32px;
						}
label.css-label {
	background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_6fced975b9270f0b001670c362e8a7e3.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
			}









.category{
position:fixed;
background-color:red;
top:60px;
left:150px;
z-index:72;
color:white;
font-size: 165%;
padding: 5px;
//box-shadow: 0px 1px 8px grey;
}

.subcategory{
border-radius: 4px;
position:fixed;
background-color:grey;
top:110px;
left:160px;
z-index:72;
color:white;
font-size: 130%;
padding: 5px;
box-shadow: 0px 1px 8px grey;
}



.account-text{
font-size: 130%;
}
.signup-title{
border:0px dashed grey;
width:500px;
margin-top:-5px;
margin-bottom:15px;
font-size:130%;

}

.profile-square{
border-radius: 10px;
padding: 20px;
box-shadow: 0px 1px 8px grey;
display: none;
height: auto;
position: fixed;
margin-top: 20px;
width: 350px;
right: 50%;
margin-right: -175px;
z-index: 75;
background-color: #FEFEFE;
}



.signin-square{
border-radius: 10px;
padding: 20px;
//padding-bottom: 10px;
box-shadow: 0px 1px 8px grey;
display: none;
height: auto;
position: fixed;
margin-top: 95px;
left: 50%;
width: 350px;
margin-left:-175px;
z-index: 75;
background-color: #FEFEFE;
}



.signup-square{
border-radius: 10px;
padding: 20px;
box-shadow: 0px 1px 8px grey;
display: none;
height: auto;
position: fixed;
margin-top: 95px;
left: 50%;
width: 340px;
margin-left:-170px;
z-index: 75;
background-color: #FEFEFE;
}

.submit-square{
overflow: scroll;
padding: 20px;
padding-top: 0px;
box-shadow: 0px 1px 8px grey;
display: none;
height: 100%;
position: fixed;
left: 0px;
width: 350px;
//margin-left:0px;
z-index: 75;
background-color: #FEFEFE;
}

.submit-box{
position: fixed;
box-shadow: 0px 1px 8px grey;
display: none;
height: 500px;
position: fixed;
top: 50%;
margin-top: -250px;
right: 50%;
margin-right:-420px;
width: 500px;
z-index: 76;
}



.transparent{
display:none;
width:100%;
height:100%;
position:fixed;
z-index:73;
    background-color: rgba(0, 0, 0, 0.6);
}

.welcome-transparent{
//font-family: Thin;
//font-size: 320%;
padding:20px;
display:none;
width:100%;
height:100%;
position:fixed;
z-index:75;
background-color: rgba(255, 255, 255, 0.95);
}



.login-square{
position:absolute;
border: 0px dashed red;
right:0px;
top:15px;
height:45px;
width:170px;
}



.checktop{
position:fixed;
top: 43px;
left: 220px;
width: 400px;
height: 60px;
border: 0px dashed red;
text-align:left;
font-size:27px;
color:#333333;
z-index:100;
}

.account-title{
font-weight: bold;
position:absolute;
bottom:110px;
left: 20px;
width:400px;
height:80px;
border: 0px dashed red;
text-align:left;
font-size:35px;
}


.checklist{
position :absolute;
top : 110px;
left : 200px;
right: 30px
//bottom:0px;
height: calc(90% - 50px);

width: 80%;
border: 0px dashed red;
//background-color: blue;
z-index: 1;
overflow:scroll;
}
.checklist-left-title{
position: absolute;
left:1%;
width:32%;
top: -10px;
height: 5%;
//border: 1px dashed grey;
 text-align: center;
}
.checklist-center-title{
position: absolute;
left:34%;
width:32%;
top: -10px;
height: 5%;
//border: 1px dashed grey;
 text-align: center;
}

.checklist-right-title{
position: absolute;
left:67%;
width:32%;
top: -10px;
height: 5%;
//border: 1px dashed grey;
 text-align: center;
}

.checklist-left{
padding:20px;
background-color: #FEFEFE;
position: absolute;
left:1%;
width:32%;
top: 40px;
height: 82%;
//border: 1px dotted grey;
overflow: scroll;
//z-index: 2;
}

.checklist-business{
//padding:20px;
background-color: #FEFEFE;
position: absolute;
//left:1%;
width:100%;
//top: 40px;
height: 100%;
//border: 1px dotted grey;
overflow: scroll;
//z-index: 2;
}

.checklist-center{
padding:20px;
background-color: #FEFEFE;
position: absolute;
left:34%;
width:32%;
top: 40px;
height: 82%;
//border: 1px dashed grey;
overflow: scroll;
}
.checklist-right{
padding:20px;
background-color: #FEFEFE;
position: absolute;
left:67%;
width:32%;
top: 40px;
height: 82%;
//border: 1px dashed grey;
overflow: scroll;
}
.check-button{
position : absolute;
bottom: 0%;
left: 0%;
right: 0%;
height: 15%;
border: 0px dashed grey;
}
.stick-to-top{
box-shadow: 0px 1px 8px grey;
height: 60px;
position: fixed;
top: 0px;
right: 0px;
left: 0px;
width: 100%;
z-index:60;
background-color: #FEFEFE;
}

.red-text{
    color: red;
}

.top-left-beta{
//font-family: Thin;
font-size:90%;
float: left;
position: absolute;
top:44px;
left:102px;
}
.logo-link{
position:fixed;
top:0px;
left:0px;
height: 60px;
width:200px;

}

.top-left-name{
font-family: Thin;
font-size:280%;
float: left;
position: absolute;
top:5px;
left:20px;
}

.top-left{
float: left;
position: absolute;
top:5px;
left:135px;
}


.closing-cross{
position:absolute;
right:20px;
top:20px;
}

.saving-icon{
float:left;
margin-left:0px;
margin-top:15px;
}

.facebook-score{
position:absolute;
left:205px;
width:60px;
text-align:center;
border:0px dashed red;
font-size:110%;
}
.linkedin-score{
position:absolute;
left:85px;
width:60px;
text-align:center;
border:0px dashed red;
font-size:110%;
}
.twitter-score{
position:absolute;
left:145px;
width:60px;
text-align:center;
border:0px dashed red;
font-size:110%;
}

.facebook-icon{
float:right;
margin-right:30px;
margin-top:15px
}
.twitter-icon{
position:absolute;
left:360px;
margin-top:17px
}
.linkedin-icon{
position:absolute;
left:300px;
margin-top:16px;
}

.cat-box{
display: none;
cursor:pointer;
position:fixed;
top:70px;
right:20px;
height:110px;
width:200px;
border: 0px dashed grey;
}

.side-tab{
cursor:pointer;
border-radius:5px;
position: fixed;
top:330px;
right:-140px;
width:300px;
height: 45px;
border: 1px solid grey;
text-align:center;
padding-top:-2px;
font-size:170%;
z-index: 5;
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}


.side-tab2{
display: none;
cursor:pointer;
border-radius:5px;
position: fixed;
top:335px;
right:96px;
width:300px;
height: 30px;
border: 1px solid grey;
text-align:center;
font-size:140%;
z-index: 1;
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}


.names{
border: 1px solid grey;
border-radius: 4px;
margin: 1%;
color:white;
text-align: center;
font-size: 150%;
position: relative;
width: 100%;
height: 30%;
}


.subcat-box{
display: none;
position:fixed;
top:200px;
right:20px;
height:calc(100% - 250px);
width:200px;
//border: 1px solid grey;
}

.subcat-status{
display: none;
background: #32cd32;
position:fixed;
top:200px;
right:230px;
//right:calc(100% - 810px);
height:calc(100% - 250px);
width:5px;
//border: 2px dashed grey;
z-index:33;
}

.menu{
top: 2px;
float:left;
font-size: 100%;
font-family:"Arial";
color: #4D4D4D;
padding-left:2em;
}

.end-of-feed{
text-align:center;
padding:20px;
font-size: 300%;
position:relative;
margin-left:auto;
margin-right:auto;
border-radius: 1px;
border: 1px solid #E6E6E6;
color: white;
background-color: red;
height: auto;
width: 500px;
margin-bottom: 100px; 
}


.box{
//overflow: hidden;
//float:top;
position:relative;
margin-left:auto;
margin-right:auto;
border-radius: 1px;
//display:block;
border: 1px solid #E6E6E6;
background-color: #FCFCFC;
height: 500px;
width: 500px;
margin-bottom: 100px; 
}
.box:hover, .box:focus, .box:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
}

.sticker{
position:absolute;
background-color: red;
left:0px;
top:15px;
height: 27px;
width: auto;
z-index: 2;
color:white;
font-size: 130%;
padding-left: 10px;
padding-right: 10px;
}

.subcats{
position:absolute;
left:0px;
top:45px;
height:30px;
width:75%;
font-size: 110%;
color:grey;
//padding-left: 10px;
border: 1px dashed white;
z-index:2;
}

.profile-picture{
position:absolute;
background-color: white;

top:0px;
width: 100%;
z-index:1;
height: 100px;
}
.box-stats{
position: absolute;
right:0px;
bottom: 75px;
height:30px;
width: 100%;
background-color: #33CC33;
}
.title{
font-weight: bold;
font-size:125%;
overflow:scroll;
position: absolute;
padding-left:10px;
left:5px;
right:10px;
width:480px;
height:30px;
top:102px;
border: 0px dashed grey;
}

.description{
font-size:115%;
overflow: scroll;
position: absolute;
background-color:#FCFCFC;
margin-bottom:20px;
padding-left:10px;padding-right:10px;
left:5px;
right: 5px;
top: 130px;
width:490px;
height: 245px;
}

.box a:link,.box a:visited{color:#474747;text-decoration:none;}
.box a:hover{color:black;text-decoration:none;}
.score{
position: absolute;
//border:4px dashed grey;
left:10px;
right:10px;
bottom: 30px;
width:480px;
height:50px;

}
.numbers{
position: absolute;
//border: 1px dashed grey;
//left:10px;
right:10px;
bottom:0px;
width:280px;
height:30px;

}


/*
 *		HOME PAGE classes
 */
.slider{
position: fixed;
float: left;
//display: block;
background-color: #FCFCFC;
height: 100%;
width: 150px;
top: 60px;
left:0px;
//margin-left: auto;
//margin-right: auto;
border-radius: 1px;
//border: 1px solid grey;
overflow:scroll;
z-index:58;
}
.slider-cover{
position: fixed;
//float: top;
//display: block;
//background-color: #FCFCFC;
background-color: rgba(255, 255, 255, 0.9);
height: 150px;
width: 500px;
left: -175px;
top:235px;
padding-left:90px;
padding-top:32px;
border-radius: 1px;
border: 2px dashed grey;
overflow:scroll;
z-index:70;
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.navigator{
position: absolute;
left: 30px;
top:120px;
width: 200px;
height: 500px;
//border: 1px dashed grey;
//background-color:#FFD1B2;
overflow:scroll;
padding:5px;
font-size:80%;

}
.navigator a:link,.navigator a:visited{color:#474747;}
.navigator a:hover{color:black;text-decoration:none;}

.submit{
position: fixed;

top:80px;
right:0px;
width: 200px;
height: 220px;
//border:1px solid grey;
//background-color: #FEFEFE;
}
.feedback{
position: fixed;
top: 190px;
right:30px;
width:200px;
height:100px;
//border:1px dashed grey;
//background-color:#FEFEFE;
}
.tab{
position:relative;
margin-bottom: 10px;
margin-left:auto;
margin-right:auto;
top:120px;
height: 40px;
width: 500px;
border: 1px dashed grey;
}
.feed-column{
position: absolute;
//background-color:grey;
border: 0px dashed grey;
width: 550px;
top:85px;
margin: 0 auto;
left:50%;
margin-left:-200px;
border-radius: 10px;
overflow: scroll;
}
.middle-box{
font-size: 80%;
font-family: "Arial";
position: relative;
background-color: white;
height: 450px;
width:1000px;
top:90px;
margin-left: auto;
margin-right: auto;
border-radius: 10px;
overflow: hidden;
z-index: 100;
}

.signin-box{
//background-color: #F5F5F5;
position: relative;
float: left;
left:20px;
top:20px;
width:40%;
//margin:0;
//padding: 0;
border-right: 2px solid grey;
height: 400px;
z-index: 80;
}

.signup-box{
background-color: white;
//background-color: #F5F5F5;
position: relative;
float: right;
right:20px;
top:10px;
width:50%;
height: 400px;
z-index: 80;
}
.form{
margin-top:15px;
}
/*
 *		FOOTER classes
 */
.footer-line{

background-color: #E8E8E8;
    position: relative;
    margin-left:0px;
top : 140px;
    height: 100px;
    width: 100%;
//
}
.shelve{
left:0px;
width: calc(100% - 140px);
    height: 200px;
    overflow-x: auto;
    overflow-y: hidden;
    background: #B3FFBD;
    white-space: nowrap;
    float: left;
}

.shelve-title{
padding-left:10px;
padding-top:5px;
width: calc(100% - 140px);
    height: 35px;
    font-size: 120%;
    color:#404040;
    overflow-x: auto;
    overflow-y: hidden;
    background: white;
    white-space: nowrap;
    float: left;
    box-shadow: inset -9px -0px 19px #b3b3b3;
}

.minicard{
margin:10px;
    width: 180px;
    height: 180px;
    display: inline-block;
    //border-top: none;
    /*float: left;*/
    position: relative;
    cursor: pointer;
    //margin-right: 5.7px;
    white-space: nowrap;
    //background:#fff;
    border: 1px solid grey;
    background-color: #FCFCFC;
}
.minicard-delete{
position:absolute;
right:10px;
top:5px;

}
.minicard-profile{
height:180px;
width:180px;
opacity: 0.3;
//filter: alpha(opacity=30);
}

.minicard-tags{
float:bottom;
position:absolute;
overflow-x:scroll;
display:inline-block;

white-space:normal;
word-wrap:break-word;


padding-left:10px;
left:0px;
right:0px;
width:180px;
height:100px;
bottom:0px;
//border: 1px dashed grey;

}


.minicard-title{
overflow-x:scroll;
display:inline-block;
word-wrap: break-all;
white-space:normal;
position: absolute;
//padding: 3px 3px 3px 3px;
left:10px;
right:10px;
width:160px;
height:50px;
top:40px;
//border: 1px dashed grey;
}

.minicard-sticker{
position:absolute;
background-color:#FF6666;
left:0px;
top:5px;
height: 21px;
width: 80px;
color:white;
font-size: 100%;
padding-left: 10px;
}

.setting{
position: absolute;
left: 180px;
top: 100px;
width: 250px;
height: 500px;
//border: 1px solid grey;
padding: 20px;
}
/*
::-webkit-scrollbar {
    -webkit-appearance: none;
  height:5px;
    //width: 7px;
}
::-webkit-scrollbar-thumb {
 //   border-radius: 8px;
 //   background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.1);
}
*/
